<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scada.project.statistics.mapper.ComponentDayStatisticsMapper">
    
    <resultMap type="ComponentDayStatistics" id="ComponentDayStatisticsResult">
        <result property="id"    column="id"    />
        <result property="windFieldId"    column="wind_field_id"    />
        <result property="windFieldName"    column="wind_field_name"    />
        <result property="lineId"    column="line_id"    />
        <result property="lineName"    column="line_name"    />
        <result property="turbineId"    column="turbine_id"    />
        <result property="turbineName"    column="turbine_name"    />
        <result property="clockwiseYawActivationTimeLength"    column="clockwise_yaw_activation_time_length"    />
        <result property="clockwiseYawActivationCount"    column="clockwise_yaw_activation_count"    />
        <result property="coutterclockwiseYawActivationTimeLength"    column="coutterclockwise_yaw_activation_time_length"    />
        <result property="coutterclockwiseYawActivationCount"    column="coutterclockwise_yaw_activation_count"    />
        <result property="brakeOfferTimeLength"    column="brake_offer_time_length"    />
        <result property="brakeOfferCount"    column="brake_offer_count"    />
        <result property="generatorHeaterWorkTimeLength"    column="generator_heater_work_time_length"    />
        <result property="generatorHeaterWorkCount"    column="generator_heater_work_count"    />
        <result property="generatorFrame1WorkTimeLength"    column="generator_frame1_work_time_length"    />
        <result property="generatorFrame1WorkCount"    column="generator_frame1_work_count"    />
        <result property="generatorFrame2WorkTimeLength"    column="generator_frame2_work_time_length"    />
        <result property="generatorFrame2WorkCount"    column="generator_frame2_work_count"    />
        <result property="gearboxLubricationHeatTime"    column="gearbox_lubrication_heat_time"    />
        <result property="gearboxLubricationHeatCount"    column="gearbox_lubrication_heat_count"    />
        <result property="gearboxFrameWorkTimeLength"    column="gearbox_frame_work_time_length"    />
        <result property="gearboxFrameWorkTimeCout"    column="gearbox_frame_work_time_cout"    />
        <result property="gearboxPumpWorkTimeLength"    column="gearbox_pump_work_time_length"    />
        <result property="gearboxPumpWorkCount"    column="gearbox_pump_work_count"    />
        <result property="hydraulicPumpWorkTimeLength"    column="hydraulic_pump_work_time_length"    />
        <result property="hydraulicPumpWorkCount"    column="hydraulic_pump_work_count"    />
        <result property="anemometerHeaterWorkTimeLength"    column="anemometer_heater_work_time_length"    />
        <result property="anemometerHeaterWorkCount"    column="anemometer_heater_work_count"    />
        <result property="statisticalTime"    column="statistical_time"    />
        <result property="statisticalTimeLength"    column="statistical_time_length"    />
        <result property="computingTime"    column="computing_time"    />
        <result property="alternateField1"    column="alternate_field1"    />
        <result property="alternateField2"    column="alternate_field2"    />
        <result property="alternateField3"    column="alternate_field3"    />
    </resultMap>

    <sql id="selectComponentDayStatisticsVo">
        select id, wind_field_id, wind_field_name, line_id, line_name, turbine_id, turbine_name, clockwise_yaw_activation_time_length, clockwise_yaw_activation_count, coutterclockwise_yaw_activation_time_length, coutterclockwise_yaw_activation_count, brake_offer_time_length, brake_offer_count, generator_heater_work_time_length, generator_heater_work_count, generator_frame1_work_time_length, generator_frame1_work_count, generator_frame2_work_time_length, generator_frame2_work_count, gearbox_lubrication_heat_time, gearbox_lubrication_heat_count, gearbox_frame_work_time_length, gearbox_frame_work_time_cout, gearbox_pump_work_time_length, gearbox_pump_work_count, hydraulic_pump_work_time_length, hydraulic_pump_work_count, anemometer_heater_work_time_length, anemometer_heater_work_count, statistical_time, statistical_time_length, computing_time, alternate_field1, alternate_field2, alternate_field3 from t_component_day_statistics
    </sql>

    <select id="selectComponentDayStatisticsList" parameterType="ComponentDayStatistics" resultMap="ComponentDayStatisticsResult">
        <include refid="selectComponentDayStatisticsVo"/>
        <where>  
            <if test="windFieldId != null "> and wind_field_id = #{windFieldId}</if>
            <if test="windFieldName != null  and windFieldName != ''"> and wind_field_name like concat('%', #{windFieldName}, '%')</if>
            <if test="lineId != null "> and line_id = #{lineId}</if>
            <if test="lineName != null  and lineName != ''"> and line_name like concat('%', #{lineName}, '%')</if>
            <if test="turbineId != null  and turbineId != ''"> and turbine_id = #{turbineId}</if>
            <if test="turbineName != null  and turbineName != ''"> and turbine_name like concat('%', #{turbineName}, '%')</if>
            <if test="clockwiseYawActivationTimeLength != null "> and clockwise_yaw_activation_time_length = #{clockwiseYawActivationTimeLength}</if>
            <if test="clockwiseYawActivationCount != null "> and clockwise_yaw_activation_count = #{clockwiseYawActivationCount}</if>
            <if test="coutterclockwiseYawActivationTimeLength != null "> and coutterclockwise_yaw_activation_time_length = #{coutterclockwiseYawActivationTimeLength}</if>
            <if test="coutterclockwiseYawActivationCount != null "> and coutterclockwise_yaw_activation_count = #{coutterclockwiseYawActivationCount}</if>
            <if test="brakeOfferTimeLength != null "> and brake_offer_time_length = #{brakeOfferTimeLength}</if>
            <if test="brakeOfferCount != null "> and brake_offer_count = #{brakeOfferCount}</if>
            <if test="generatorHeaterWorkTimeLength != null "> and generator_heater_work_time_length = #{generatorHeaterWorkTimeLength}</if>
            <if test="generatorHeaterWorkCount != null "> and generator_heater_work_count = #{generatorHeaterWorkCount}</if>
            <if test="generatorFrame1WorkTimeLength != null "> and generator_frame1_work_time_length = #{generatorFrame1WorkTimeLength}</if>
            <if test="generatorFrame1WorkCount != null "> and generator_frame1_work_count = #{generatorFrame1WorkCount}</if>
            <if test="generatorFrame2WorkTimeLength != null "> and generator_frame2_work_time_length = #{generatorFrame2WorkTimeLength}</if>
            <if test="generatorFrame2WorkCount != null "> and generator_frame2_work_count = #{generatorFrame2WorkCount}</if>
            <if test="gearboxLubricationHeatTime != null "> and gearbox_lubrication_heat_time = #{gearboxLubricationHeatTime}</if>
            <if test="gearboxLubricationHeatCount != null "> and gearbox_lubrication_heat_count = #{gearboxLubricationHeatCount}</if>
            <if test="gearboxFrameWorkTimeLength != null "> and gearbox_frame_work_time_length = #{gearboxFrameWorkTimeLength}</if>
            <if test="gearboxFrameWorkTimeCout != null "> and gearbox_frame_work_time_cout = #{gearboxFrameWorkTimeCout}</if>
            <if test="gearboxPumpWorkTimeLength != null "> and gearbox_pump_work_time_length = #{gearboxPumpWorkTimeLength}</if>
            <if test="gearboxPumpWorkCount != null "> and gearbox_pump_work_count = #{gearboxPumpWorkCount}</if>
            <if test="hydraulicPumpWorkTimeLength != null "> and hydraulic_pump_work_time_length = #{hydraulicPumpWorkTimeLength}</if>
            <if test="hydraulicPumpWorkCount != null "> and hydraulic_pump_work_count = #{hydraulicPumpWorkCount}</if>
            <if test="anemometerHeaterWorkTimeLength != null "> and anemometer_heater_work_time_length = #{anemometerHeaterWorkTimeLength}</if>
            <if test="anemometerHeaterWorkCount != null "> and anemometer_heater_work_count = #{anemometerHeaterWorkCount}</if>
            <if test="statisticalTime != null "> and statistical_time = #{statisticalTime}</if>
            <if test="statisticalTimeLength != null "> and statistical_time_length = #{statisticalTimeLength}</if>
            <if test="computingTime != null "> and computing_time = #{computingTime}</if>
            <if test="alternateField1 != null  and alternateField1 != ''"> and alternate_field1 = #{alternateField1}</if>
            <if test="alternateField2 != null  and alternateField2 != ''"> and alternate_field2 = #{alternateField2}</if>
            <if test="alternateField3 != null  and alternateField3 != ''"> and alternate_field3 = #{alternateField3}</if>
        </where>
    </select>
    
    <select id="selectComponentDayStatisticsById" parameterType="String" resultMap="ComponentDayStatisticsResult">
        <include refid="selectComponentDayStatisticsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertComponentDayStatistics" parameterType="ComponentDayStatistics">
        insert into t_component_day_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="windFieldId != null ">wind_field_id,</if>
            <if test="windFieldName != null  and windFieldName != ''">wind_field_name,</if>
            <if test="lineId != null ">line_id,</if>
            <if test="lineName != null  and lineName != ''">line_name,</if>
            <if test="turbineId != null  and turbineId != ''">turbine_id,</if>
            <if test="turbineName != null  and turbineName != ''">turbine_name,</if>
            <if test="clockwiseYawActivationTimeLength != null ">clockwise_yaw_activation_time_length,</if>
            <if test="clockwiseYawActivationCount != null ">clockwise_yaw_activation_count,</if>
            <if test="coutterclockwiseYawActivationTimeLength != null ">coutterclockwise_yaw_activation_time_length,</if>
            <if test="coutterclockwiseYawActivationCount != null ">coutterclockwise_yaw_activation_count,</if>
            <if test="brakeOfferTimeLength != null ">brake_offer_time_length,</if>
            <if test="brakeOfferCount != null ">brake_offer_count,</if>
            <if test="generatorHeaterWorkTimeLength != null ">generator_heater_work_time_length,</if>
            <if test="generatorHeaterWorkCount != null ">generator_heater_work_count,</if>
            <if test="generatorFrame1WorkTimeLength != null ">generator_frame1_work_time_length,</if>
            <if test="generatorFrame1WorkCount != null ">generator_frame1_work_count,</if>
            <if test="generatorFrame2WorkTimeLength != null ">generator_frame2_work_time_length,</if>
            <if test="generatorFrame2WorkCount != null ">generator_frame2_work_count,</if>
            <if test="gearboxLubricationHeatTime != null ">gearbox_lubrication_heat_time,</if>
            <if test="gearboxLubricationHeatCount != null ">gearbox_lubrication_heat_count,</if>
            <if test="gearboxFrameWorkTimeLength != null ">gearbox_frame_work_time_length,</if>
            <if test="gearboxFrameWorkTimeCout != null ">gearbox_frame_work_time_cout,</if>
            <if test="gearboxPumpWorkTimeLength != null ">gearbox_pump_work_time_length,</if>
            <if test="gearboxPumpWorkCount != null ">gearbox_pump_work_count,</if>
            <if test="hydraulicPumpWorkTimeLength != null ">hydraulic_pump_work_time_length,</if>
            <if test="hydraulicPumpWorkCount != null ">hydraulic_pump_work_count,</if>
            <if test="anemometerHeaterWorkTimeLength != null ">anemometer_heater_work_time_length,</if>
            <if test="anemometerHeaterWorkCount != null ">anemometer_heater_work_count,</if>
            <if test="statisticalTime != null ">statistical_time,</if>
            <if test="statisticalTimeLength != null ">statistical_time_length,</if>
            <if test="computingTime != null ">computing_time,</if>
            <if test="alternateField1 != null  and alternateField1 != ''">alternate_field1,</if>
            <if test="alternateField2 != null  and alternateField2 != ''">alternate_field2,</if>
            <if test="alternateField3 != null  and alternateField3 != ''">alternate_field3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="windFieldId != null ">#{windFieldId},</if>
            <if test="windFieldName != null  and windFieldName != ''">#{windFieldName},</if>
            <if test="lineId != null ">#{lineId},</if>
            <if test="lineName != null  and lineName != ''">#{lineName},</if>
            <if test="turbineId != null  and turbineId != ''">#{turbineId},</if>
            <if test="turbineName != null  and turbineName != ''">#{turbineName},</if>
            <if test="clockwiseYawActivationTimeLength != null ">#{clockwiseYawActivationTimeLength},</if>
            <if test="clockwiseYawActivationCount != null ">#{clockwiseYawActivationCount},</if>
            <if test="coutterclockwiseYawActivationTimeLength != null ">#{coutterclockwiseYawActivationTimeLength},</if>
            <if test="coutterclockwiseYawActivationCount != null ">#{coutterclockwiseYawActivationCount},</if>
            <if test="brakeOfferTimeLength != null ">#{brakeOfferTimeLength},</if>
            <if test="brakeOfferCount != null ">#{brakeOfferCount},</if>
            <if test="generatorHeaterWorkTimeLength != null ">#{generatorHeaterWorkTimeLength},</if>
            <if test="generatorHeaterWorkCount != null ">#{generatorHeaterWorkCount},</if>
            <if test="generatorFrame1WorkTimeLength != null ">#{generatorFrame1WorkTimeLength},</if>
            <if test="generatorFrame1WorkCount != null ">#{generatorFrame1WorkCount},</if>
            <if test="generatorFrame2WorkTimeLength != null ">#{generatorFrame2WorkTimeLength},</if>
            <if test="generatorFrame2WorkCount != null ">#{generatorFrame2WorkCount},</if>
            <if test="gearboxLubricationHeatTime != null ">#{gearboxLubricationHeatTime},</if>
            <if test="gearboxLubricationHeatCount != null ">#{gearboxLubricationHeatCount},</if>
            <if test="gearboxFrameWorkTimeLength != null ">#{gearboxFrameWorkTimeLength},</if>
            <if test="gearboxFrameWorkTimeCout != null ">#{gearboxFrameWorkTimeCout},</if>
            <if test="gearboxPumpWorkTimeLength != null ">#{gearboxPumpWorkTimeLength},</if>
            <if test="gearboxPumpWorkCount != null ">#{gearboxPumpWorkCount},</if>
            <if test="hydraulicPumpWorkTimeLength != null ">#{hydraulicPumpWorkTimeLength},</if>
            <if test="hydraulicPumpWorkCount != null ">#{hydraulicPumpWorkCount},</if>
            <if test="anemometerHeaterWorkTimeLength != null ">#{anemometerHeaterWorkTimeLength},</if>
            <if test="anemometerHeaterWorkCount != null ">#{anemometerHeaterWorkCount},</if>
            <if test="statisticalTime != null ">#{statisticalTime},</if>
            <if test="statisticalTimeLength != null ">#{statisticalTimeLength},</if>
            <if test="computingTime != null ">#{computingTime},</if>
            <if test="alternateField1 != null  and alternateField1 != ''">#{alternateField1},</if>
            <if test="alternateField2 != null  and alternateField2 != ''">#{alternateField2},</if>
            <if test="alternateField3 != null  and alternateField3 != ''">#{alternateField3},</if>
         </trim>
    </insert>

    <update id="updateComponentDayStatistics" parameterType="ComponentDayStatistics">
        update t_component_day_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="windFieldId != null ">wind_field_id = #{windFieldId},</if>
            <if test="windFieldName != null  and windFieldName != ''">wind_field_name = #{windFieldName},</if>
            <if test="lineId != null ">line_id = #{lineId},</if>
            <if test="lineName != null  and lineName != ''">line_name = #{lineName},</if>
            <if test="turbineId != null  and turbineId != ''">turbine_id = #{turbineId},</if>
            <if test="turbineName != null  and turbineName != ''">turbine_name = #{turbineName},</if>
            <if test="clockwiseYawActivationTimeLength != null ">clockwise_yaw_activation_time_length = #{clockwiseYawActivationTimeLength},</if>
            <if test="clockwiseYawActivationCount != null ">clockwise_yaw_activation_count = #{clockwiseYawActivationCount},</if>
            <if test="coutterclockwiseYawActivationTimeLength != null ">coutterclockwise_yaw_activation_time_length = #{coutterclockwiseYawActivationTimeLength},</if>
            <if test="coutterclockwiseYawActivationCount != null ">coutterclockwise_yaw_activation_count = #{coutterclockwiseYawActivationCount},</if>
            <if test="brakeOfferTimeLength != null ">brake_offer_time_length = #{brakeOfferTimeLength},</if>
            <if test="brakeOfferCount != null ">brake_offer_count = #{brakeOfferCount},</if>
            <if test="generatorHeaterWorkTimeLength != null ">generator_heater_work_time_length = #{generatorHeaterWorkTimeLength},</if>
            <if test="generatorHeaterWorkCount != null ">generator_heater_work_count = #{generatorHeaterWorkCount},</if>
            <if test="generatorFrame1WorkTimeLength != null ">generator_frame1_work_time_length = #{generatorFrame1WorkTimeLength},</if>
            <if test="generatorFrame1WorkCount != null ">generator_frame1_work_count = #{generatorFrame1WorkCount},</if>
            <if test="generatorFrame2WorkTimeLength != null ">generator_frame2_work_time_length = #{generatorFrame2WorkTimeLength},</if>
            <if test="generatorFrame2WorkCount != null ">generator_frame2_work_count = #{generatorFrame2WorkCount},</if>
            <if test="gearboxLubricationHeatTime != null ">gearbox_lubrication_heat_time = #{gearboxLubricationHeatTime},</if>
            <if test="gearboxLubricationHeatCount != null ">gearbox_lubrication_heat_count = #{gearboxLubricationHeatCount},</if>
            <if test="gearboxFrameWorkTimeLength != null ">gearbox_frame_work_time_length = #{gearboxFrameWorkTimeLength},</if>
            <if test="gearboxFrameWorkTimeCout != null ">gearbox_frame_work_time_cout = #{gearboxFrameWorkTimeCout},</if>
            <if test="gearboxPumpWorkTimeLength != null ">gearbox_pump_work_time_length = #{gearboxPumpWorkTimeLength},</if>
            <if test="gearboxPumpWorkCount != null ">gearbox_pump_work_count = #{gearboxPumpWorkCount},</if>
            <if test="hydraulicPumpWorkTimeLength != null ">hydraulic_pump_work_time_length = #{hydraulicPumpWorkTimeLength},</if>
            <if test="hydraulicPumpWorkCount != null ">hydraulic_pump_work_count = #{hydraulicPumpWorkCount},</if>
            <if test="anemometerHeaterWorkTimeLength != null ">anemometer_heater_work_time_length = #{anemometerHeaterWorkTimeLength},</if>
            <if test="anemometerHeaterWorkCount != null ">anemometer_heater_work_count = #{anemometerHeaterWorkCount},</if>
            <if test="statisticalTime != null ">statistical_time = #{statisticalTime},</if>
            <if test="statisticalTimeLength != null ">statistical_time_length = #{statisticalTimeLength},</if>
            <if test="computingTime != null ">computing_time = #{computingTime},</if>
            <if test="alternateField1 != null  and alternateField1 != ''">alternate_field1 = #{alternateField1},</if>
            <if test="alternateField2 != null  and alternateField2 != ''">alternate_field2 = #{alternateField2},</if>
            <if test="alternateField3 != null  and alternateField3 != ''">alternate_field3 = #{alternateField3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteComponentDayStatisticsById" parameterType="String">
        delete from t_component_day_statistics where id = #{id}
    </delete>

    <delete id="deleteComponentDayStatisticsByIds" parameterType="String">
        delete from t_component_day_statistics where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>