<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scada.project.statistics.mapper.MainStateLogMapper">
    
    <resultMap type="MainStateLog" id="MainStateLogResult">
        <result property="id"    column="ID"    />
        <result property="createTime"    column="create_time"    />
        <result property="timeNanoSec"    column="time_nano_sec"    />
        <result property="turbineId"    column="turbine_id"    />
        <result property="mainState"    column="main_state"    />
        <result property="subState"    column="sub_state"    />
        <result property="activeCode"    column="active_code"    />
        <result property="availbilityStatus"    column="availbility_status"    />
        <result property="actPowerProduction"    column="act_power_production"    />
        <result property="actPowerConsumption"    column="act_power_consumption"    />
        <result property="reactPowerProduction"    column="react_power_production"    />
        <result property="reactPowerConsumption"    column="react_power_consumption"    />
        <result property="totalProductionTimeLength"    column="total_production_time_length"    />
        <result property="totalRuningTimeLength"    column="total_runing_time_length"    />
        <result property="totalMannulStopTimeLength"    column="total_mannul_stop_time_length"    />
        <result property="totalWetherStopTimeLength"    column="total_wether_stop_time_length"    />
        <result property="totalGridFaultStopTimeLength"    column="total_grid_fault_stop_time_length"    />
        <result property="totalFullPerformanceTimeLength"    column="total_full_performance_time_length"    />
        <result property="totalPartialPorformanceTimeLength"    column="total_partial_porformance_time_length"    />
        <result property="totalTechnicalStandbyTimeLength"    column="total_technical_standby_time_length"    />
        <result property="totalShceduledMaintenanceTimeLength"    column="total_shceduled_maintenance_time_length"    />
        <result property="totalPlannedCorrectiveActionTimeLength"    column="total_planned_corrective_action_time_length"    />
        <result property="totalForceMajeureTimeLength"    column="total_force_majeure_time_length"    />
        <result property="totalInformationUnavailableTimeLength"    column="total_information_unavailable_time_length"    />
        <result property="totalSuspendedTimeLength"    column="total_suspended_time_length"    />
        <result property="totalTurbineFaultStopTimeLength"    column="total_turbine_fault_stop_time_length"    />
        <result property="totalTimeLength"    column="total_time_length"    />
        <result property="totalAvailability"    column="total_availability"    />
        <result property="statResetTime"    column="stat_reset_time"    />
        <result property="windSpd"    column="wind_spd"    />
        <result property="yawErr"    column="yaw_err"    />
        <result property="activePower"    column="active_power"    />
        <result property="reactivePower"    column="reactive_power"    />
        <result property="pitAngleAve"    column="pit_angle_ave"    />
        <result property="rotorSpd"    column="rotor_spd"    />
        <result property="genSpd"    column="gen_spd"    />
        <result property="converterSpd"    column="converter_spd"    />
        <result property="twistAngle"    column="twist_angle"    />
        <result property="geroWindVane"    column="gero_wind_vane"    />
        <result property="backup1"    column="backup1"    />
        <result property="backup2"    column="backup2"    />
        <result property="backup3"    column="backup3"    />
    </resultMap>

    <sql id="selectMainStateLogVo">
        select ID, create_time, time_nano_sec, turbine_id, main_state, sub_state, active_code, availbility_status, act_power_production, act_power_consumption, react_power_production, react_power_consumption, total_production_time_length, total_runing_time_length, total_mannul_stop_time_length, total_wether_stop_time_length, total_grid_fault_stop_time_length, total_full_performance_time_length, total_partial_porformance_time_length, total_technical_standby_time_length, total_shceduled_maintenance_time_length, total_planned_corrective_action_time_length, total_force_majeure_time_length, total_information_unavailable_time_length, total_suspended_time_length, total_turbine_fault_stop_time_length, total_time_length, total_availability, stat_reset_time, wind_spd, yaw_err, active_power, reactive_power, pit_angle_ave, rotor_spd, gen_spd, converter_spd, twist_angle, gero_wind_vane, backup1, backup2, backup3 from t_main_state_log
    </sql>

    <select id="selectMainStateLogList" parameterType="MainStateLog" resultMap="MainStateLogResult">
        <include refid="selectMainStateLogVo"/>
        <where>  
            <if test="timeNanoSec != null "> and time_nano_sec = #{timeNanoSec}</if>
            <if test="turbineId != null  and turbineId != ''"> and turbine_id = #{turbineId}</if>
            <if test="mainState != null "> and main_state = #{mainState}</if>
            <if test="subState != null "> and sub_state = #{subState}</if>
            <if test="activeCode != null "> and active_code = #{activeCode}</if>
            <if test="availbilityStatus != null  and availbilityStatus != ''"> and availbility_status = #{availbilityStatus}</if>
            <if test="actPowerProduction != null "> and act_power_production = #{actPowerProduction}</if>
            <if test="actPowerConsumption != null "> and act_power_consumption = #{actPowerConsumption}</if>
            <if test="reactPowerProduction != null "> and react_power_production = #{reactPowerProduction}</if>
            <if test="reactPowerConsumption != null "> and react_power_consumption = #{reactPowerConsumption}</if>
            <if test="totalProductionTimeLength != null "> and total_production_time_length = #{totalProductionTimeLength}</if>
            <if test="totalRuningTimeLength != null "> and total_runing_time_length = #{totalRuningTimeLength}</if>
            <if test="totalMannulStopTimeLength != null "> and total_mannul_stop_time_length = #{totalMannulStopTimeLength}</if>
            <if test="totalWetherStopTimeLength != null "> and total_wether_stop_time_length = #{totalWetherStopTimeLength}</if>
            <if test="totalGridFaultStopTimeLength != null "> and total_grid_fault_stop_time_length = #{totalGridFaultStopTimeLength}</if>
            <if test="totalFullPerformanceTimeLength != null "> and total_full_performance_time_length = #{totalFullPerformanceTimeLength}</if>
            <if test="totalPartialPorformanceTimeLength != null "> and total_partial_porformance_time_length = #{totalPartialPorformanceTimeLength}</if>
            <if test="totalTechnicalStandbyTimeLength != null "> and total_technical_standby_time_length = #{totalTechnicalStandbyTimeLength}</if>
            <if test="totalShceduledMaintenanceTimeLength != null "> and total_shceduled_maintenance_time_length = #{totalShceduledMaintenanceTimeLength}</if>
            <if test="totalPlannedCorrectiveActionTimeLength != null "> and total_planned_corrective_action_time_length = #{totalPlannedCorrectiveActionTimeLength}</if>
            <if test="totalForceMajeureTimeLength != null "> and total_force_majeure_time_length = #{totalForceMajeureTimeLength}</if>
            <if test="totalInformationUnavailableTimeLength != null "> and total_information_unavailable_time_length = #{totalInformationUnavailableTimeLength}</if>
            <if test="totalSuspendedTimeLength != null "> and total_suspended_time_length = #{totalSuspendedTimeLength}</if>
            <if test="totalTurbineFaultStopTimeLength != null "> and total_turbine_fault_stop_time_length = #{totalTurbineFaultStopTimeLength}</if>
            <if test="totalTimeLength != null "> and total_time_length = #{totalTimeLength}</if>
            <if test="totalAvailability != null "> and total_availability = #{totalAvailability}</if>
            <if test="statResetTime != null "> and stat_reset_time = #{statResetTime}</if>
            <if test="windSpd != null "> and wind_spd = #{windSpd}</if>
            <if test="yawErr != null "> and yaw_err = #{yawErr}</if>
            <if test="activePower != null "> and active_power = #{activePower}</if>
            <if test="reactivePower != null "> and reactive_power = #{reactivePower}</if>
            <if test="pitAngleAve != null "> and pit_angle_ave = #{pitAngleAve}</if>
            <if test="rotorSpd != null "> and rotor_spd = #{rotorSpd}</if>
            <if test="genSpd != null "> and gen_spd = #{genSpd}</if>
            <if test="converterSpd != null "> and converter_spd = #{converterSpd}</if>
            <if test="twistAngle != null "> and twist_angle = #{twistAngle}</if>
            <if test="geroWindVane != null "> and gero_wind_vane = #{geroWindVane}</if>
            <if test="backup1 != null "> and backup1 = #{backup1}</if>
            <if test="backup2 != null "> and backup2 = #{backup2}</if>
            <if test="backup3 != null "> and backup3 = #{backup3}</if>
        </where>
    </select>
    
    <select id="selectMainStateLogById" parameterType="Long" resultMap="MainStateLogResult">
        <include refid="selectMainStateLogVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertMainStateLog" parameterType="MainStateLog">
        insert into t_main_state_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">ID,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="timeNanoSec != null ">time_nano_sec,</if>
            <if test="turbineId != null  and turbineId != ''">turbine_id,</if>
            <if test="mainState != null ">main_state,</if>
            <if test="subState != null ">sub_state,</if>
            <if test="activeCode != null ">active_code,</if>
            <if test="availbilityStatus != null  and availbilityStatus != ''">availbility_status,</if>
            <if test="actPowerProduction != null ">act_power_production,</if>
            <if test="actPowerConsumption != null ">act_power_consumption,</if>
            <if test="reactPowerProduction != null ">react_power_production,</if>
            <if test="reactPowerConsumption != null ">react_power_consumption,</if>
            <if test="totalProductionTimeLength != null ">total_production_time_length,</if>
            <if test="totalRuningTimeLength != null ">total_runing_time_length,</if>
            <if test="totalMannulStopTimeLength != null ">total_mannul_stop_time_length,</if>
            <if test="totalWetherStopTimeLength != null ">total_wether_stop_time_length,</if>
            <if test="totalGridFaultStopTimeLength != null ">total_grid_fault_stop_time_length,</if>
            <if test="totalFullPerformanceTimeLength != null ">total_full_performance_time_length,</if>
            <if test="totalPartialPorformanceTimeLength != null ">total_partial_porformance_time_length,</if>
            <if test="totalTechnicalStandbyTimeLength != null ">total_technical_standby_time_length,</if>
            <if test="totalShceduledMaintenanceTimeLength != null ">total_shceduled_maintenance_time_length,</if>
            <if test="totalPlannedCorrectiveActionTimeLength != null ">total_planned_corrective_action_time_length,</if>
            <if test="totalForceMajeureTimeLength != null ">total_force_majeure_time_length,</if>
            <if test="totalInformationUnavailableTimeLength != null ">total_information_unavailable_time_length,</if>
            <if test="totalSuspendedTimeLength != null ">total_suspended_time_length,</if>
            <if test="totalTurbineFaultStopTimeLength != null ">total_turbine_fault_stop_time_length,</if>
            <if test="totalTimeLength != null ">total_time_length,</if>
            <if test="totalAvailability != null ">total_availability,</if>
            <if test="statResetTime != null ">stat_reset_time,</if>
            <if test="windSpd != null ">wind_spd,</if>
            <if test="yawErr != null ">yaw_err,</if>
            <if test="activePower != null ">active_power,</if>
            <if test="reactivePower != null ">reactive_power,</if>
            <if test="pitAngleAve != null ">pit_angle_ave,</if>
            <if test="rotorSpd != null ">rotor_spd,</if>
            <if test="genSpd != null ">gen_spd,</if>
            <if test="converterSpd != null ">converter_spd,</if>
            <if test="twistAngle != null ">twist_angle,</if>
            <if test="geroWindVane != null ">gero_wind_vane,</if>
            <if test="backup1 != null ">backup1,</if>
            <if test="backup2 != null ">backup2,</if>
            <if test="backup3 != null ">backup3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="timeNanoSec != null ">#{timeNanoSec},</if>
            <if test="turbineId != null  and turbineId != ''">#{turbineId},</if>
            <if test="mainState != null ">#{mainState},</if>
            <if test="subState != null ">#{subState},</if>
            <if test="activeCode != null ">#{activeCode},</if>
            <if test="availbilityStatus != null  and availbilityStatus != ''">#{availbilityStatus},</if>
            <if test="actPowerProduction != null ">#{actPowerProduction},</if>
            <if test="actPowerConsumption != null ">#{actPowerConsumption},</if>
            <if test="reactPowerProduction != null ">#{reactPowerProduction},</if>
            <if test="reactPowerConsumption != null ">#{reactPowerConsumption},</if>
            <if test="totalProductionTimeLength != null ">#{totalProductionTimeLength},</if>
            <if test="totalRuningTimeLength != null ">#{totalRuningTimeLength},</if>
            <if test="totalMannulStopTimeLength != null ">#{totalMannulStopTimeLength},</if>
            <if test="totalWetherStopTimeLength != null ">#{totalWetherStopTimeLength},</if>
            <if test="totalGridFaultStopTimeLength != null ">#{totalGridFaultStopTimeLength},</if>
            <if test="totalFullPerformanceTimeLength != null ">#{totalFullPerformanceTimeLength},</if>
            <if test="totalPartialPorformanceTimeLength != null ">#{totalPartialPorformanceTimeLength},</if>
            <if test="totalTechnicalStandbyTimeLength != null ">#{totalTechnicalStandbyTimeLength},</if>
            <if test="totalShceduledMaintenanceTimeLength != null ">#{totalShceduledMaintenanceTimeLength},</if>
            <if test="totalPlannedCorrectiveActionTimeLength != null ">#{totalPlannedCorrectiveActionTimeLength},</if>
            <if test="totalForceMajeureTimeLength != null ">#{totalForceMajeureTimeLength},</if>
            <if test="totalInformationUnavailableTimeLength != null ">#{totalInformationUnavailableTimeLength},</if>
            <if test="totalSuspendedTimeLength != null ">#{totalSuspendedTimeLength},</if>
            <if test="totalTurbineFaultStopTimeLength != null ">#{totalTurbineFaultStopTimeLength},</if>
            <if test="totalTimeLength != null ">#{totalTimeLength},</if>
            <if test="totalAvailability != null ">#{totalAvailability},</if>
            <if test="statResetTime != null ">#{statResetTime},</if>
            <if test="windSpd != null ">#{windSpd},</if>
            <if test="yawErr != null ">#{yawErr},</if>
            <if test="activePower != null ">#{activePower},</if>
            <if test="reactivePower != null ">#{reactivePower},</if>
            <if test="pitAngleAve != null ">#{pitAngleAve},</if>
            <if test="rotorSpd != null ">#{rotorSpd},</if>
            <if test="genSpd != null ">#{genSpd},</if>
            <if test="converterSpd != null ">#{converterSpd},</if>
            <if test="twistAngle != null ">#{twistAngle},</if>
            <if test="geroWindVane != null ">#{geroWindVane},</if>
            <if test="backup1 != null ">#{backup1},</if>
            <if test="backup2 != null ">#{backup2},</if>
            <if test="backup3 != null ">#{backup3},</if>
         </trim>
    </insert>

    <update id="updateMainStateLog" parameterType="MainStateLog">
        update t_main_state_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="timeNanoSec != null ">time_nano_sec = #{timeNanoSec},</if>
            <if test="turbineId != null  and turbineId != ''">turbine_id = #{turbineId},</if>
            <if test="mainState != null ">main_state = #{mainState},</if>
            <if test="subState != null ">sub_state = #{subState},</if>
            <if test="activeCode != null ">active_code = #{activeCode},</if>
            <if test="availbilityStatus != null  and availbilityStatus != ''">availbility_status = #{availbilityStatus},</if>
            <if test="actPowerProduction != null ">act_power_production = #{actPowerProduction},</if>
            <if test="actPowerConsumption != null ">act_power_consumption = #{actPowerConsumption},</if>
            <if test="reactPowerProduction != null ">react_power_production = #{reactPowerProduction},</if>
            <if test="reactPowerConsumption != null ">react_power_consumption = #{reactPowerConsumption},</if>
            <if test="totalProductionTimeLength != null ">total_production_time_length = #{totalProductionTimeLength},</if>
            <if test="totalRuningTimeLength != null ">total_runing_time_length = #{totalRuningTimeLength},</if>
            <if test="totalMannulStopTimeLength != null ">total_mannul_stop_time_length = #{totalMannulStopTimeLength},</if>
            <if test="totalWetherStopTimeLength != null ">total_wether_stop_time_length = #{totalWetherStopTimeLength},</if>
            <if test="totalGridFaultStopTimeLength != null ">total_grid_fault_stop_time_length = #{totalGridFaultStopTimeLength},</if>
            <if test="totalFullPerformanceTimeLength != null ">total_full_performance_time_length = #{totalFullPerformanceTimeLength},</if>
            <if test="totalPartialPorformanceTimeLength != null ">total_partial_porformance_time_length = #{totalPartialPorformanceTimeLength},</if>
            <if test="totalTechnicalStandbyTimeLength != null ">total_technical_standby_time_length = #{totalTechnicalStandbyTimeLength},</if>
            <if test="totalShceduledMaintenanceTimeLength != null ">total_shceduled_maintenance_time_length = #{totalShceduledMaintenanceTimeLength},</if>
            <if test="totalPlannedCorrectiveActionTimeLength != null ">total_planned_corrective_action_time_length = #{totalPlannedCorrectiveActionTimeLength},</if>
            <if test="totalForceMajeureTimeLength != null ">total_force_majeure_time_length = #{totalForceMajeureTimeLength},</if>
            <if test="totalInformationUnavailableTimeLength != null ">total_information_unavailable_time_length = #{totalInformationUnavailableTimeLength},</if>
            <if test="totalSuspendedTimeLength != null ">total_suspended_time_length = #{totalSuspendedTimeLength},</if>
            <if test="totalTurbineFaultStopTimeLength != null ">total_turbine_fault_stop_time_length = #{totalTurbineFaultStopTimeLength},</if>
            <if test="totalTimeLength != null ">total_time_length = #{totalTimeLength},</if>
            <if test="totalAvailability != null ">total_availability = #{totalAvailability},</if>
            <if test="statResetTime != null ">stat_reset_time = #{statResetTime},</if>
            <if test="windSpd != null ">wind_spd = #{windSpd},</if>
            <if test="yawErr != null ">yaw_err = #{yawErr},</if>
            <if test="activePower != null ">active_power = #{activePower},</if>
            <if test="reactivePower != null ">reactive_power = #{reactivePower},</if>
            <if test="pitAngleAve != null ">pit_angle_ave = #{pitAngleAve},</if>
            <if test="rotorSpd != null ">rotor_spd = #{rotorSpd},</if>
            <if test="genSpd != null ">gen_spd = #{genSpd},</if>
            <if test="converterSpd != null ">converter_spd = #{converterSpd},</if>
            <if test="twistAngle != null ">twist_angle = #{twistAngle},</if>
            <if test="geroWindVane != null ">gero_wind_vane = #{geroWindVane},</if>
            <if test="backup1 != null ">backup1 = #{backup1},</if>
            <if test="backup2 != null ">backup2 = #{backup2},</if>
            <if test="backup3 != null ">backup3 = #{backup3},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteMainStateLogById" parameterType="Long">
        delete from t_main_state_log where ID = #{id}
    </delete>

    <delete id="deleteMainStateLogByIds" parameterType="String">
        delete from t_main_state_log where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>